{% extends "package/resource_edit_base.html" %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block primary_content_inner %}

  {% set action = h.url_for('dataspatial.resource_dataspatial', id=pkg.name, resource_id=res.id) %}
  {% set show_table = true %}

  <form method="post" action="{{ action }}" class="datapusher-form">
    {{ h.csrf_input() }} 
    <button class="btn btn-primary" name="save" type="submit">
      <i class="fa fa-cloud-upload"></i> {{ _('Georeference Dataset') }}
    </button>
  </form>

{% endblock %}